body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
}

.one {
    background-color: #1F2937;
}

.two {
    background-color: white;
}

.three {
    background-color: #E5E7EB;
}

footer {
    background-color: #1F2937;
}