body {
    font-family: Roboto, Helvetica, sans-serif;
    color: white;
}

header {
    background-color: #1F2937;
    display: flex;
    background-color: #1F2937; 
}

a {
    color: lightgray;
    margin-right: 25px;
}

a:hover {
    color: white;
}

.one {
    background-color: #1F2937;
}

.two {
    background-color: white;
}

.three {
    background-color: white;
}

.four {
    background-color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    text-align: center;
    padding: 1.5%;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex: auto;
}
.subitem1, .subitem2 {
    margin-right: 100px;
}
.header-logo {
    max-width: 50%;
    max-height: 50%;
}

.hero-pic {
    max-width: 100%;
    max-height: 100%;
}

.item1-2 {
    flex-grow: 2;
}

.item2-2 {
    flex-grow: 3;
    margin: 50px;
}

#hero {
    background-color: #1F2937;
    justify-content: space-around;
    align-content: space-around;
}

.flex-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    margin: 25px;
    flex: auto;
}

#button1 {
    background-color: #3882F6;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.two {
    background-color: white;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}

.flex-container-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex: auto;
}

.catalog-item {
    border-radius: 10px;
    border: solid 5px blue;
    width: 100px;
    height: 100px;
    margin: 10px;
    align-items: center;
    justify-items: center;
}

figure {
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding:  5px;
    flex-flow:  column;
    margin: 25px;
    max-width: 120px;
    flex-wrap: wrap;
}

#quote {
    text-align: justify;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

#quote-credit {
    text-align: right;
    color: #1F2937;
    font-size: 20px;
}

.four {
    padding: 12%;
}

.five {
    background-color: white;
}

.flex-continer-4 {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.flex-container-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 5% 10% 5% 10%;
    margin: 10%;
    border-radius: 20px;
}

.box-text {
    color: white;
}

.big-box {
    flex: 5;
}

.middle-box {
    flex: 1;
}

.small-box {
    flex: 1;
}

.flex-item-button {
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 150%;
}